@tailwind base;
@tailwind components;
@tailwind utilities;


main{
    min-height: 100vh;
}

h1 {
    font-family: 'Ubuntu Sans Variable', sans-serif;
    font-size: 1.4rem;
    padding: 0.1rem;
    font-weight: 600;
}

.ubuntu {
    font-family: 'Ubuntu Sans Variable', sans-serif;
}

.nav-elem {
    font-family: 'Playfair Display Variable', serif;
    font-size: 0.8rem
}

.playball-font {
    font-family: 'Playball', system-ui;
}

.prod-name {
    font-family: 'Ubuntu Sans Variable', sans-serif;
    font-size: 1rem;
    color: #b45309 !important;
}

h2 {
    font-family: 'Playball', system-ui;
    font-size: 1.8rem;
    padding: 1rem;
}

.item-name {
    font-family: 'Playball', system-ui;
}

h3 {
    padding: 1rem 0;
}

.rating span {
    margin: 0.1rem;
}

/* ProductCarousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display: flex;
}

.carousel-caption {
    position: absolute;
    top: 0;
}

.carousel-caption h2 {
    color: #fff;
}

.carousel img {
    height: 300px;
    padding: 30px;
    margin: 40px;
    border-radius: 50%;
}

.carousel a {
    margin: 0 auto;
}

.site-statistic-demo-card {
    padding: 30px;
    background: #ececec;
}

.col-report {
    height: 40vh;
}

.lowStock {
    background-color: rgb(196, 117, 117);
    color: rgb(255, 255, 255);
}

.custom-card {
    font-family: 'Playball', system-ui;
    font-size: 1rem;
    width: 95%;
    max-height: 320px; /* Reducir altura */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px; /* Reducir el padding */
  }
  
  .custom-card-img {
    height: 180px; /* Reducir la altura de la imagen */
    object-fit: cover;
    transition: transform 0.3s ease-in-out; /* Suaviza la transición */
  }
  

.custom-card-img:hover {
    transform: scale(1.4); /* Zoom hacia dentro al hacer hover */
}

.custom-card {
  overflow: hidden; /* Evita que la imagen se salga del contenedor */
}
  
  
  .custom-card-body {
    padding: 5px;
    text-align: center;
  }
  
  .custom-card-title {
    font-size: 1rem;
    margin-bottom: 5px;
    white-space: nowrap; /* Evita que el texto se rompa en varias líneas */
    overflow: hidden; /* Oculta el texto que se desborda */
    text-overflow: ellipsis; /* Añade '...' al final del texto que no cabe */
    display: block; /* Asegura que el contenedor del texto sea un bloque */
  }
  
  
  .custom-card-price {
    font-size: 16px;
    color: #333;
    font-weight: bold;
  }

  .custom-nav-link {
    color: #007bff; /* Cambia al color deseado */
    text-decoration: none; /* Elimina el subrayado */
  }
  
  .custom-nav-link:hover {
    color: #0056b3; /* Cambia el color al pasar el mouse */
    text-decoration: underline; /* Opcional: subrayar al pasar el mouse */
  }
  
  .custom-nav-link.disabled {
    color: #6c757d; /* Cambia el color para los enlaces deshabilitados */
    pointer-events: none; /* Asegúrate de que no sean clicables */
  }
  

  #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}


  